
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }


.footer {
    position: fixed;
    bottom:0;
    width:100%;
    text-align: center;
    height:40px;   /* Height of the footer */
}


.about-border {
    display: block;
    width: 1100px;
    height: 3px;
    background: #7e7e7e;
    margin: 20px auto;
}

.col-sm {display: inline; }

#box{
   background-color: rgb(177, 175, 175);
   color: #fff;
   width: 250px;
   height: 150px;
   padding: 50px;

}

.card{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;

}

.cardt{
  line-height: 80%;
}

.container-1{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */

}


.boxs div{
  border: 1px #ccc solid;
  padding: 10px;
}
.boxs{
  display: flex;
  /* display: none; */

}
.form{
  display: none;
}
#dvd{
  width: 300px;
  height: 130px;
}

#furniture{
  width: 315px;
  height: 170px;
}

#book{
  width: 300px;
  height: 130px;
}


.form-group input{
    margin-left: 4em;
}

.form-group select{
  margin-left: 8em;
}

.form-group label{
  position: absolute;
}


.form-1{
  width: 300px;
  height: 130px;
}

.form-2{
  width: 315px;
  height: 170px;
}

.form-3{
  width: 300px;
  height: 130px;
}